*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

.back-btn{
    position:fixed;
    top:20px;
    left:25px;
    color:white;
    text-decoration:none;
    font-size:18px;
    opacity:0.7;
    transition:0.2s;
    z-index:10;
}

.back-btn:hover{
    opacity:1;
    transform:translateX(-3px);
}

body{
    background: radial-gradient(circle at center, #0f2e1f, #000);
    min-height:100vh;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    color:white;
}

/* CANVAS */
#fondo{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    pointer-events:none;
}

/* TITULO */
.titulo{
    margin-top:30px;
    font-size:2.5rem;
    text-align:center;
    z-index:2;

    color:#8fffba;

    text-shadow:0 0 20px rgba(100,255,180,0.4);

    animation:respirar 4s ease-in-out infinite;
}

@keyframes respirar{
    0%,100%{ transform:scale(1); }
    50%{ transform:scale(1.03); }
}

/* GRID (igual) */
.container{
    margin-top:40px;
    width:70%;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
    padding-bottom:60px;
    z-index:2;
}

/* CARDS */
.card{
    background: rgba(100,255,180,0.08);
    backdrop-filter: blur(12px);
    border:1px solid rgba(100,255,180,0.2);
    border-radius:20px;
    padding:30px;
    text-align:center;
    transition:0.3s;

    height:140px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px;
}

.card:hover{
    transform:scale(1.03);
    box-shadow:0 0 25px rgba(100,255,180,0.3);
}

/* BOTON */
.play{
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:linear-gradient(45deg,#3ddc97,#8fffba);
    color:white;
    cursor:pointer;
    transition:0.3s;
    font-weight:bold;
}

.play:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px #3ddc97;
}
