*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: radial-gradient(circle at top, #2a0000, #0a0000 60%, #000);
    min-height:100vh;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    color:white;
}

/* CANVAS FONDO */
#fondo{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    pointer-events:none;
}

/* TITULO */

.titulo{
    margin-top:30px;
    font-size:2.5rem;
    text-align:center;
    z-index:2;

    color:#ff7a7a;

    text-shadow:0 0 15px rgba(255,100,100,0.6);

    animation:latido 3s infinite ease-in-out;
}

@keyframes latido{
    0%,100%{ transform:scale(1); }
    50%{ transform:scale(1.03); }
}

/* efecto enojo */
@keyframes shakeGlow{
    0%{ transform:translateX(0); }
    25%{ transform:translateX(-2px); }
    50%{ transform:translateX(2px); }
    75%{ transform:translateX(-2px); }
    100%{ transform:translateX(2px); }
}

/* GRID */

.container{
    margin-top:40px;
    width:70%;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
    padding-bottom:60px;
    z-index:2;
}

/* CARDS */

.card{
    background: rgba(255, 80, 80, 0.08);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255,100,100,0.2);
    border-radius:20px;
    padding:30px;
    text-align:center;
    cursor:pointer;
    transition:0.2s;
    box-shadow:0 0 20px rgba(255,0,0,0.15);
    height:140px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px;
    position:relative;
    z-index:2;
}

/* vibración al pasar */
.card:hover{
    transform:scale(1.03);
    box-shadow:0 0 25px rgba(255,100,100,0.3);
}

@keyframes temblor{
    0%{ transform:translate(0); }
    25%{ transform:translate(-1px,1px); }
    50%{ transform:translate(1px,-1px); }
    75%{ transform:translate(-1px,-1px); }
    100%{ transform:translate(1px,1px); }
}

/* BOTON */

.play{
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:linear-gradient(45deg,#ff0000,#ff4d4d);
    color:white;
    cursor:pointer;
    transition:0.3s;
    font-weight:bold;
}

.play:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px #ff0000;
}

.card, .play{
    position:relative;
    z-index:2;
}
